.main-container{
    display: flex;
    justify-content: space-between;

}
.menubar{
    position: fixed;
    /* border: 1px solid yellow; */
    /* position: sticky; */
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 100vh;
    margin-right: 30px;
    background-color: rgb(4, 78, 53);
}
@media only screen and (max-width:1134px) {
    .menubar{
        width: 350px;
    }
}
@media only screen and (max-width:989px) {
    .menubar{
        width: 250px;
    }
}
@media only screen and (max-width:734px) {
    .menubar{
        width: 200px;
    }
}
@media only screen and (max-width:568px) {
    .menubar{
        width: 180px;
    }
}
@media only screen and (max-width:505px) {
    .menubar{
        width: 130px;
    }
}
@media only screen and (max-width:568px) {
    .menu-items{
        /* width: 180px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.menu-items{
    width: 100%;
    /* border: 1px solid; */
    text-align: center;
    padding: 5px 0px 5px 0px;
    background-color: rgb(0, 94, 62);
    margin: 5px 0px 5px 0px;
    transition: .3s;
    color: white;
    border-radius: 3px;
    
}
.menu-items:hover{
    text-decoration: none;
    background-color: rgb(3, 65, 44);
    color: white;
}
.edit-guitar-text{
    animation-name: blink;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    width: 100%;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
}
@keyframes blink{
    0%{opacity: 1.0;}
    50%{opacity:0}
    100%{opacity:1.0}
}